<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::head">
</head>
<body>
<!--/*@thymesVar id="recipe" type="pl.casmic.recipereactapp.models.Recipe"*/-->
<div class="container mt-4">
    <div class=".col-md-6 .col-md-offset-3">
        <form th:object="${recipe}" th:action="@{'/recipe'}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger mt-4 ml-4 mr-4">
                <p>Please Correct Errors Below</p>
            </div>

            <input type="hidden" th:field="*{id}"/>

            <div class="card mt-4 ml-4 mr-4">
                <div class="card-header alert alert-info">
                    <h5>Edit Recipe Information</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 form-group" th:class="${#fields.hasErrors('description')}
                                ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                            <label th:text="#{recipe.description}">Recipe Description:</label>
                            <input type="text" class="form-control" th:field="*{description}"
                                   th:errorclass="is-invalid"/>
                            <span class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                        </ul>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label>Categories:</label>
                        </div>
                        <div class="col-md-9 form-group">
                            <div class="radio">
                                <label>
                                    <input type="checkbox" value=""/>
                                    Cat 1
                                </label>
                            </div>
                            <div class="radio" th:remove="all">
                                <label>
                                    <input type="checkbox" value=""/>
                                    Cat 2
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group" th:class="${#fields.hasErrors('prepTime')}
                                ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                            <label>Prep time:</label>
                            <input type="text" class="form-control" th:field="*{prepTime}" th:errorclass="is-invalid"/>
                            <span class="invalid-feedback" th:if="${#fields.hasErrors('prepTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"/>
                                        </ul>
                            </span>
                        </div>
                        <div class="col-md-3 form-group" th:class="${#fields.hasErrors('cookTime')}
                                ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                            <label>Cook time:</label>
                            <input type="text" class="form-control" th:field="*{cookTime}" th:errorclass="is-invalid"/>
                            <span class="invalid-feedback" th:if="${#fields.hasErrors('cookTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"/>
                                        </ul>
                            </span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Difficulty:</label>
                            <select class="form-control" th:field="*{difficulty}">
                                <option th:each="difficultyValue:${T(pl.casmic.recipereactapp.models.Difficulty).values()}"
                                        th:value="${difficultyValue.name()}"
                                        th:text="${difficultyValue.name()}">Difficulty Value
                                </option>
                            </select>
                            <select class="form-control" th:remove="all">
                                <option>Easy</option>
                                <option>Medium</option>
                                <option>Hard</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group" th:class="${#fields.hasErrors('servings')}
                                ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                            <label>Servings:</label>
                            <input type="number" class="form-control" th:field="*{servings}" th:errorclass="is-invalid"/>
                            <span class="invalid-feedback" th:if="${#fields.hasErrors('servings')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"/>
                                        </ul>
                            </span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Source:</label>
                            <input type="text" class="form-control" th:field="*{source}"/>
                        </div>
                        <div class="col-md-3 form-group" th:class="${#fields.hasErrors('url')}
                                ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                            <label>URL:</label>
                            <input type="text" class="form-control" th:field="*{url}" th:errorclass="is-invalid"/>
                            <span class="invalid-feedback" th:if="${#fields.hasErrors('url')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                                        </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-4 ml-4 mr-4">
                <div class="card-header alert alert-info">
                    <div class="row">
                        <div class="col-md-11 ">
                            <h5>Ingredients</h5>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-default" href="#"
                               th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">Edit</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li th:remove="all">1 Cup of milk</li>
                                <li th:remove="all">1 Teaspoon of chocolate</li>
                                <li th:each="ingredient : ${recipe.ingredients}"
                                    th:text="${(ingredient.amount +
                                        ' ' + ingredient.unitOfMeasure.description +
                                        ' - ' + ingredient.description)}">1 Teaspoon of Sugar
                                </li>
                            </ul>
                            <div th:each="ingredientEach, idx : ${recipe.ingredients}" >
                                <input  type="hidden" th:field="*{ingredients[__${idx.index}__].id}" />
                                <input  type="hidden" th:field="*{ingredients[__${idx.index}__].description}" />
                                <input  type="hidden" th:field="*{ingredients[__${idx.index}__].amount}" />
                                <input  type="hidden" th:field="*{ingredients[__${idx.index}__].unitOfMeasure.id}" />
                            </div>
                            <div th:each="catEach, idx : ${recipe.categories}" >
                                <input  type="hidden" th:field="*{categories[__${idx.index}__].id}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-4 ml-4 mr-4">
                <div class="card-header alert alert-info">
                    <h5>Directions</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <textarea class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                    </div>
                </div>
            </div>
            <div class="card mt-4 ml-4 mr-4">
                <div class="card-header alert alert-info">
                    <h5>Notes</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <textarea class="form-control" rows="3" th:field="*{note.recipeNote}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 ml-4 mr-4">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>