<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::head">
</head>
<body>
<!--/*@thymesVar id="recipe" type="pl.casmic.recipereactapp.models.Recipe"*/-->
<div class="container mt-4">
    <div class=".col-md-6 .col-md-offset-3">
        <div class="card mt-4 ml-4 mr-4">
            <div class="card-header alert alert-info">
                <div class="row">
                    <div class="col-md-10">
                        <h5 th:text="${recipe.description}">Recipe Description Here!</h5>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-default" href="#"
                           th:href="@{'/recipe/' + ${recipe.id} + '/image'}" role="button">Change Image</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <h6>Categories:</h6>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li th:remove="all">cat one</li>
                            <li th:remove="all">cat two</li>
                            <li th:each="category:${recipe.categories}" th:text="*{category.description}">cat
                                three
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <img src="../../static/images/guacamole400x400WithX.jpg"
                             th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}"
                             width="200" height="200">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6>Prep Time:</h6>
                    </div>
                    <div class="col-md-3">
                        <p th:text="${recipe.prepTime} + ' min'">30 min</p>
                    </div>
                    <div class="col-md-3">
                        <h6>Difficulty:</h6>
                    </div>
                    <div class="col-md-3">
                        <p th:text="${recipe.difficulty}">Easy</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6>Cooktime:</h6>
                    </div>
                    <div class="col-md-3">
                        <p th:text="${recipe.cookTime} + ' min'">30 min</p>
                    </div>
                    <div class="col-md-3">
                        <h6>Servings:</h6>
                    </div>
                    <div class="col-md-3">
                        <p th:text="${recipe.servings}">4</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6>Source:</h6>
                    </div>
                    <div class="col-md-3">
                        <p th:text="${recipe.source}">Jadłonomia</p>
                    </div>
                    <div class="col-md-3">
                        <h6>URL:</h6>
                    </div>
                    <div class="col-md-3">
                        <a th:href="@{${recipe.url}}" th:text="'View original'">http://www.example.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4 ml-4 mr-4">
            <div class="card-header alert alert-info">
                <div class="row">
                    <div class="col-md-11">
                        <h5>Ingredients</h5>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-default" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}"
                           role="button">View</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li th:remove="all">1 Cup of milk</li>
                            <li th:remove="all">1 Teaspoon of chocolate</li>
                            <li th:each="ingredient:${recipe.ingredients}"
                                th:text="*{ingredient.amount + ' ' +
                                ingredient.unitOfMeasure.description + ' - ' +
                                ingredient.description}">1 Teaspoon of Sugar
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4 ml-4 mr-4">
            <div class="card-header alert alert-info">
                <h5>Directions</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <p style="white-space: pre-wrap" th:text="${recipe.directions}">Lorem ipsum dolor sit amet,
                            consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                            Nulla
                            consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                            felis eu
                            pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
                            Aenean
                            vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend
                            ac,
                            enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                            nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi
                            vel
                            augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas
                            tempus,
                            tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
                            sed
                            ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4 ml-4 mr-4">
            <div class="card-header alert alert-info">
                <h5>Notes</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <p style="white-space: pre-wrap" th:text="${recipe.note.recipeNote}">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                            dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                            Nulla
                            consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                            felis eu
                            pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
                            Aenean
                            vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend
                            ac,
                            enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                            nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi
                            vel
                            augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas
                            tempus,
                            tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
                            sed
                            ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>