<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::head">
</head>
<body>
<div class="container mt-4">
    <!--/*@thymesVar id="ingredient" type="pl.casmic.recipereactapp.commands.IngredientCommand"*/-->
    <form th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.recipeId} + '/ingredient'}"
          method="post">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger mt-4 ml-4 mr-4">
            <p>Please Correct Errors Below</p>
        </div>

        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{recipeId}"/>

        <div class="card mt-4 ml-4 mr-4">
            <div class="card-header alert alert-info">
                <h4>Edit Ingredient Information</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('amount')}
                                ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                        <label>Ingredient Amount:</label>
                        <input type="text" class="form-control" th:field="*{amount}"
                               th:errorclass="is-invalid"/>
                        <span class="invalid-feedback" th:if="${#fields.hasErrors('amount')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('amount')}" th:text="${err}"/>
                                        </ul>
                        </span>
                    </div>
                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('unitOfMeasure')}
                                ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                        <label>Unit of Measure:</label>
                        <select class="form-control" name="unitOfMeasure.id" th:errorclass="is-invalid">
                            <option th:each="uomEach:${unitofmeasurelist}"
                                    th:value="${uomEach.id}"
                                    th:selected="${uomEach.id.equals(ingredient.unitOfMeasure.id)}"
                                    th:text="${uomEach.description}">Each
                            </option>
                        </select>
                        <span class="invalid-feedback" th:if="${#fields.hasErrors('unitOfMeasure')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('unitOfMeasure')}" th:text="${err}"/>
                                        </ul>
                        </span>
                    </div>
                    <div class="col-6 form-group" th:class="${#fields.hasErrors('description')}
                                ? 'col-6 form-group is-invalid' : 'col-6 form-group'">
                        <label>Description:</label>
                        <textarea class="form-control" th:field="*{description}" th:errorclass="is-invalid"/>
                        <span class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                        </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 ml-4 mr-4">
            <div class="col-md-1">
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>