<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::head">
</head>
<body>
<div class="container mt-4">
    <div class="card mt-4 ml-4 mr-4">
        <h4 class="card-header alert alert-info text-center">Ingredient Details</h4>
        <div class="card-body">
            <table class="table border-bottom">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Description</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:scope="row">
                    <td th:text="${ingredient.id}"></td>
                    <td th:text="${ingredient.amount} + ' ' + ${ingredient.unitOfMeasure.description} + ' - ' + ${ingredient.description}"></td>
                    <td><a href="#"
                           th:href="@{'/recipe/' + ${ingredient.recipeId} + '/ingredient/' + ${ingredient.id} + '/update'}">Update</a></td>
                    <td><a href="#" th:href="@{'/recipe/' + ${ingredient.recipeId} + '/ingredient/' + ${ingredient.id} + '/delete'}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>