<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::head">
</head>
<body>
<div class="container mt-4">
    <div class="card mt-4 ml-4 mr-4">
        <h4 class="card-header alert alert-info text-center">My Recipes</h4>
        <div class="card-body">
            <table class="table border-bottom">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Description</th>
                    <th scope="col">View</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:scope="row" th:each="recipe:${recipes}">
                    <td th:text="*{recipe.id}"></td>
                    <td th:text="*{recipe.description}"></td>
                    <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/show'}">View</a></td>
                    <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>
                    <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>